<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="/public/main.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>채팅 리스트</title>
</head>
<script>
// script
// ajax 서버 통신 방법
// 가장큰 장점 : 새로고침 없이도 서버랑 통신이 가능하다.
window.onload = function(){



};
window.onpageshow = function(event){

    if (event.persisted || (window.performance && window.performance.navigation.type == 2)) {
        window.location.reload();
        console.log('BFCahe로부터 복원됨');
     } else {
        console.log('새로 열린 페이지');
     }

}
</script>
<body>
<!-- header -->
<%-include('nav.ejs', {loginName}) %>
<!-- //header -->
<div class="container">
    <h3 class="text-center my-3">채팅방</h3>
</div>

<div class="container">
    <% if(chatRoom.length === 0) { %>
    <p class="text-center" style="opacity: 0.4;">다른 유저와 대화를 나눠 보세요.</p>
    <% } %>
    <ul class="list-group">
        <% if(chatRoom.length > 0) { %>
            <% for(let i=0; chatRoom.length > i; i++){ %>
            <%
                // chatRoom user name
                let userNm = null;

                for(let k=0; chatRoom[i].member.length > k; k++){
                    if(chatRoom[i].member[k] !== loginName.id){
                        userNm = chatRoom[i].member[k]
                    }
                }
            %>
            <li class="list-group-item">
                <!-- title -->
                <% if(chatRoom[i].title === null){ %>
                <h4><%= userNm %></h4>
                <% } %>

                <% if(chatRoom[i].title !== null){ %>
                <h4><%= chatRoom[i].title %></h4>
                <% } %>

                <!-- comment -->
                <%
                    // loginName.id (로그인 ID) / userNm (채팅 상대)
                    let memberCheck1 = [loginName.id, userNm];
                    let memberCheck2 = [userNm, loginName.id];
                    let chatArr = [];
                    let lastComment = undefined;

                    for(let k=0; chatList.length > k; k++){
                        if(chatList[k].member.toString() === memberCheck1.toString() || chatList[k].member.toString() === memberCheck2.toString()){
                            chatArr.push(chatList[k].comment);
                        }
                    }
                    lastComment = chatArr[chatArr.length - 1];
                %>
                
                <% if(lastComment === undefined){%>
                    <p class="d-inline-block" style="opacity:0.4">상대방과 대화를 나눠보세요!</p>
                <%}%>
                <% if(lastComment !== undefined){%>
                    <p class="d-inline-block"><%= lastComment %></p>
                <%}%>
                <!-- chatRoom btn -->
                <a href="/chat?userName=<%= userNm %>"
                    class="btn btn-outline-success editBtn float-right chatBtn float-right d-inline-block"
                    >채팅방
                </a>

                
                


            </li>
            <% } %>
        <% } %>
    </ul>
</div>

</body>
</html>