<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link rel="stylesheet" href="/public/main.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>채팅방</title>
</head>
<style>
/* css */
a{color: black;}
a:hover{color: black;text-decoration: none;}


.onBtn{
  opacity: 1;
}
.offBtn{
  opacity: 0.4;
  pointer-events: none;
  
}


</style>
<script>
// script
// ajax 서버 통신 방법
// 가장큰 장점 : 새로고침 없이도 서버랑 통신이 가능하다.
window.onload = function(){

let chatVal = document.getElementById("chatVal");
let chatBtn = document.getElementById("button-addon2");
let stopKeydown = true;


chatVal.oninput = changeData;

function changeData(e){
  console.log(e.target.value);

  if(e.target.value.length !== 0){

    chatBtn.classList.remove('onBtn', 'offBtn');
    chatBtn.classList.add('onBtn');
    stopKeydown = false;

  }else{

    chatBtn.classList.remove('onBtn', 'offBtn');
    chatBtn.classList.add('offBtn');
    stopKeydown = true;

  }

};

document.addEventListener('keydown', function(event) {
  if(stopKeydown){
    if (event.keyCode === 13) {
    event.preventDefault();
    };
  }
});


};
</script>
<body>

<!-- header -->
<%-include('nav.ejs', {loginName}) %>
<!-- //header -->
<div class="container">
  <h3 class="text-center mt-3 pb-3 border-bottom">채팅방</h3>
  <ul class="list-unstyled mb-5">
    <li class="media my-2">
      <div class="media-body">
        <div class="w-75">
            <h5 class="mt-0 mb-1">이름</h5>
            <p class="border rounded d-inline-block px-2 py-2">Lorem ipsum dolor</p>
        </div>
      </div>
    </li>
    <li class="media my-2">
      <div class="media-body">
        <div class="w-75">
            <h5 class="mt-0 mb-1">이름</h5>
            <p class="border rounded d-inline-block px-2 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem voluptatem ad cumque tempora quis pariatur expedita, quam illum dolor unde corporis dolores numquam ipsam vero! Molestiae debitis atque quaerat.</p>   
        </div>
      </div>
    </li>
    <li class="media my-2">
      <div class="media-body text-right">
        <div class="w-75 float-right">
            <p class="border rounded d-inline-block px-2 py-2">sit amet consectetur adipisicing elit. Iste, inventore? Architecto </p>
        </div>
      </div>
    </li>
    <li class="media my-2">
      <div class="media-body">
        <div class="w-75">
          <h5 class="mt-0 mb-1">이름</h5>
          <p class="border rounded d-inline-block px-2 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nostrum at velit </p>
        </div>
      </div>
    </li>
    <% for(let i=0; i < chatList.length; i++){ %>
      <% if(locals.chatList[i].chatNumber === locals.id값){ %>

        <% if(locals.chatList[i].name === locals.loginName.id){ %>
          <li class="media my-2">
            <div class="media-body text-right">
              <div class="w-75 float-right">
                  <p class="border rounded d-inline-block px-2 py-2"><%= chatList[i].comment %></p>
              </div>
            </div>
          </li>
        <% }%>      
        <% if(locals.chatList[i].name !== locals.loginName.id){ %>
          <li class="media my-2">
            <div class="media-body">
              <div class="w-75">
                <h5 class="mt-0 mb-1"><%= chatList[i].name %></h5>
                <p class="border rounded d-inline-block px-2 py-2"><%= chatList[i].comment %></p>
              </div>
            </div>
          </li>
        <% }%>

      <% } %>
    <% } %>
  </ul>
</div>
<footer class="container fixed-bottom bg-white">
  <form  action="/chatEnter" method="POST">
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" name="chat" id="chatVal" />
      <input type="text" class="form-control d-none" aria-label="Recipient's username" aria-describedby="button-addon2" name="user" value="<%= user %>" />
      <div class="input-group-append">
        <button class= "btn btn-outline-secondary toggleBtn offBtn" type="submit" id="button-addon2">등록</button>
      </div>
    </div>
  </form>
</footer>
</body>
</html>